@import url(variables.less);

.header{
	background: @header-bg;
	height: 45px;
	width: 100%;
	float: left;

	.logo{
		height: 45px;
		float: left;
		margin-right: 75px;
	}
	.logo:before{
		display: block;
	    position: absolute;
	    content: ' ';
	    top: 32px;
	    left: 28px;
	    margin-top: -18px;
	    margin-left: -18px;
	    height: 36px;
	    width: 36px;
		background: url(../images/logo-icon-lightblue.svg) no-repeat;
	}
	h3{
		color: #ffffff;
		padding-left: 20px;
    	float: left;
    	margin: 8px 0;
	}
	.platform{
		float: right;
		margin: 5px 20px 0;

		.dropdown-toggle{
			background-color: #385366;
		    border: 1px solid #8da8b8;
		    color: #fff;
		}
	}
}
.left-column{
	width: 200px;
    position: fixed;
    top: 45px;
    bottom: 0;
    background: @left-nav;
    overflow-x: auto;
    padding-top: 15px;

    ul{
		padding-left: 0;
    }
    li{
    	list-style-type: none;
    }
    li a{
		padding: 6px 5px 6px 25px;
		display: block;
		text-decoration: none;
		color: @nav-link-color;
    }
    li a:hover{
		background-color: @nav-link-color-bg;
		padding: 6px 5px 6px 25px;
		color: @nav-link-hover-text;
    }
    li a.active{
    	background-color: @nav-link-color-bg; 
    	color: @nav-link-hover-text;
    }
    h5{
    	padding-left: 25px;
    	color: @nav-link-color-heading;
    }
    .search-component{
    	width: 100%;
    	position: absolute;
    	bottom: 0;

	    .form-control, .input-group .form-control:first-child, .input-group-btn:last-child > .btn{
	    	border-radius: 0;
	    	background-color: #385366;
		    border: 1px solid #8da8b8;
		    color: #3b7694;
	    }
    }
}
.no-padding{
	padding: 0;
}
.right-panel{
	position: fixed;
	left: 200px;
	top: 45px;
	bottom: 0;
	right: 0;	
}

//split css
.split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
  }

  .gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../bower_components/Split.js/grips/vertical.png');
  }

  .gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('../bower_components/Split.js/grips/horizontal.png');
  }

  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
  }